<!DOCTYPE html>
<html lang={{app.request.getLocale |replace({'_': '-'})}}>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}H-N-Y{% endblock %}</title>
           <link rel='stylesheet' href='/css/style.css' type="text/css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class='main-block'>
                <nav>
                    <ul class='nav-link'>
                        <li><a href="{{ asset( path('app_home') )}}" >{{'Home' |trans}}</a></li>
                        <div class="locale">
                            <li><a href={{ path('app_home', {'_locale': 'fr'})}} >🇫🇷</a></li>
                            <li><a href={{path('app_home', {'_locale': 'en'})}} >🇬🇧</a></li>
                        </div>  
                    </ul>
                    
                </nav>
                
                <header>
                    {% block header %} {% endblock header %}
                </header>
                <main>
                    {% block body %}{% endblock %}
                </main>
            <footer>
               <p> &copy;Copyright - {{ 'now' | date('Y')}} 
                {% if (app.request.get('_route') != "app_about" ) %}
                 <a href={{ path('app_about') }}>{{'About'|trans}}</a>
                 {% else %}
               
                 {% endif %}</p>
            </footer>
        </div>
    </body>
</html>
