<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}H-N-Y{% endblock %}</title>
           <link rel='stylesheet' href='/css/style.css' type="text/css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
            <div class='main-block'>
                <nav>
                    <ul>
                        <li><a href="{{ asset( path('app_home') )}}" >Home</a></li>
                        <li><a href="{{ asset( path('app_about')) }}">About</a></li>
                    </ul>
                </nav>
                <header>
                    {% block header %} {% endblock header %}
                </header>
                <main>
                    {% block body %}{% endblock %}
                </main>
            <footer>
                &copy;Copyright - {{ 'now' | date('Y')}} . <a href="{{ asset(path('app_about'))}}">About</a>
            </footer>
        </div>
    </body>
</html>
